.landmark {
  display: flex;
  flex-direction: row;
  max-width: 690px;
  max-height: 250px;
}

.landmark-photo {
  width: 250px;
  height: 250px;
  padding: 0.2rem;
}

.landmark-details {
  display: flex;
  flex-direction: column;

  padding: 0.75em;
}

.landmark-title {
  text-align: center;
}
.landmark-title > a {
  color: #333;
}
